/TP-2/soal2/build/
/TP-2/soal3/nbproject/private/
/TP-2/soal3/build/
/TP-2/Soal/nbproject/private/
/TP-2/Soal/build/
/TP-2/Soal5/nbproject/private/
/TP-2/Soal5/build/
/TP-3/student/target/
/TP-2/trial1/target/
/Training/trialObject/target/
/TP-4/Publication/target/
/TP-4/Product/target/
/TP-2/main/target/
/Training/subLatihan/target/
/Training/latihan/target/
/TP-5/latihan/target/
/TP-5/main/target/
/TP-5/Inheritance/target/
/TP-5/Inheritance_2/target/
/TP-5/Main2/target/
/TP-5/Soal_TP_5/target/
/Training/inheritance_main/target/
/TP-7/Account/target/
/TP-8/polimorphism/target/
/TP-8/Electronic/target/
